$base-color: #302d43;
$bg-color: #f8fafc;
$bg-dark: #c6c6cd;
$bg-light: #fff;
$accent-pink: #e6007a;
$accent-yellow: #ffdd1f;
$accent-blue: #1da1f2;
$accent-green: #0dbd8b;

$text-color: $base-color;
